html { background-color: #333333; clear: both; }

.web-wrapper { width: 100%; height: 100%; display: flex; flex-direction: column-reverse; }

.web-container { display: flex; flex-direction: column-reverse; width: 100%; }

.photo-container { display: flex; border-color: #c0ff00; border-style: dashed; border-width: 2px; margin: 1em; flex-direction: column; }

.map-container { border-color: #c0ff00; border-style: dashed; border-width: 2px; margin: 1em; }

.photo-title, .map-title { justify-content: center; align-content: center; display: flex; color: white; font-size: 2em; font-family: sans-serif; margin: 0.5em; width: 100%; }

.banner-img { display: flex; width: 150px; height: 80px; margin-right: 2em; }

#your-pano { min-height: 500px; height: 500px; width: 100%; }

.banner-container { display: flex; justify-content: center; flex-direction: column; width: 100%; align-items: center; }

.banner-img { display: flex; /* width: 30%; */ height: 100%; align-items: center; align-content: center; justify-content: center; width: 280px; margin-top: 1em; }

.banner-container p { display: none; }

@media (min-width: 600px) and (orientation: landscape) { html { background-color: #333333; clear: both; } }

/*
@media screen and (min-width: 800px) and (orientation: landscape){
  html {
    background-color: green;
    clear: both;
    //position: relative;
    //width: 100%;
    //height: 100%;

  }
}

@media screen and (min-width: 1280px) and (orientation: landscape) {
  html {
    background-color: blue;
    clear: both;
    //position: relative;
    //width: 100%;
    //height: 100%;

  }
}
*/
@media screen and (min-width: 1366px) and (orientation: landscape) { html { background-color: #333333; clear: both; }
  .web-wrapper { width: 100%; height: 100%; display: flex; flex-direction: row; }
  .web-container { display: flex; flex-direction: column; width: 40%; }
  .photo-container { width: 70%; }
  .photo-container, .map-container { border-color: #c0ff00; border-style: dashed; border-width: 2px; margin: 1em; flex-direction: column; min-width: 320px; min-height: 350px; }
  .photo-title, .map-title { justify-content: center; align-content: center; display: flex; color: white; font-size: 2em; font-family: sans-serif; margin: 0.5em; }
  .banner-img { display: flex; width: 150px; height: 80px; margin-right: 2em; }
  #your-pano { min-height: 500px; height: 500px; }
  .banner-container { display: flex; justify-content: center; flex-direction: row; }
  .banner-container p { color: #8ab700; display: flex; font-family: monospace; text-align: center; font-size: smaller; margin-top: 3em; }
  #app { width: 100%; height: 95vh; clear: both; } }

@media screen and (min-width: 1680px) and (orientation: landscape) { html { background-color: #333333; clear: both; }
  .web-wrapper { width: 100%; height: 100%; display: flex; flex-direction: row; }
  .web-container { display: flex; flex-direction: column; width: 40%; }
  .photo-container { width: 70%; }
  .photo-container, .map-container { border-color: #c0ff00; border-style: dashed; border-width: 2px; margin: 1em; flex-direction: column; min-width: 320px; height: 100%; }
  .photo-title, .map-title { justify-content: center; align-content: center; display: flex; color: white; font-size: 2em; font-family: sans-serif; margin: 0.5em; }
  .banner-img { display: flex; width: 150px; height: 80px; margin-right: 2em; }
  #your-pano { height: 100%; }
  .banner-container { display: flex; justify-content: center; flex-direction: row; }
  .banner-container p { color: #8ab700; font-family: monospace; text-align: center; font-size: smaller; }
  #app { width: 100%; height: 95vh; clear: both; }
  #map { height: 90.7%; } }
